.dropdown {
  width: 150px;
  cursor: pointer;

  .btn {
    background-color: #f4f4f5;

    &:focus {
      text-align: #252525;
      background-color: #f4f4f5;
    }
  }

  .dropdown-menu {
    height: 130px;
    background-color: #f4f4f5;
  }

  .flag {
    width: 35px;
    height: 30px;
    display: inline-block;
  }
}
